*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    height: 100vh;
}
.main{
    background-color: darkgoldenrod;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
}
.inputDiv input{
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}
.inputDiv button{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}
.ExpenseDiv{
    display: flex;
    background-color: goldenrod;
    justify-content: space-around;
    flex-direction: column;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}
.ExpenseDiv button{
    padding: 5px;
    background-color: palevioletred;
    border: 1px solid black;
    border-radius: 5px;
}